@charset "UTF-8";
/* ------------------------------------------------------------------
 * [Table of contents]
 *
 * ------------------------------------------------------------------ */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}
mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    border: 0;
}

button {
    overflow: visible;
    text-transform: none;
    outline: none;
}

select {
    text-transform: none
}

button,
html input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer
}

input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner {
    border: 0;
    padding: 0
}

input,
textarea {
    line-height: normal;
    outline: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

ul,
ol {
    margin: 0 0 1.5rem;
    padding: 0 0 0 2rem
}

* {
    box-sizing: border-box
}

*:before,
*:after {
    box-sizing: border-box
}

html {
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: #434346;
    margin: 0;
}

p {
    color: #919191;
    margin: 0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  line-height: 1.5em;
  margin: 0 0 0.60em;
  font-weight: 100;
  color: #919191;
}

h3 {
    font-size: 24px;
    line-height: 40px;
}

h5 {
    font-size: 17px;
    line-height: 35px;
}

a,
a img,
.blog-post-item .post-meta .read-more:before {
    -webkit-transition: all 175ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 175ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    color: inherit;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

a:hover {
    color: #e91e63;
}

img {
  max-width: 100%;
  height: auto;
}

.row-fit {
  margin: 0;
}

.row-fit [class*="col-"] {
  padding: 0;
}

.row-fit-8 {
    margin-left: -8px;
    margin-right: -8px;
}

.row-fit-8 [class*="col-"] {
  padding-left: 8px;
  padding-right: 8px;
}

.row-eq-height {
    display: -webkit-box;
    display: -ms-flexbox;
    display:         flex;
}

.custom-container {
    padding: 0;
}

.custom-container > .row {
    margin: 0;
}

.custom-container > .row > [class*="col-"] {
    padding: 0;
}

.no-padding {
    padding: 0 !important;
}

.container.no-padding {
    overflow: hidden;
}

.no-margin {
    margin: 0 !important;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: table;
  margin: 0 auto;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.center-block {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.position-relative {
    position: relative;
}

.position-static {
    position: static;
}

.responsive-media {
    position: relative;
    margin: 0 0 30px;
}

.responsive-media iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border: 0;
}
.responsive-media.ratio16by9 {
    padding-bottom: 56.25%;
}

.no-m-top {
    margin-top: 0 !important;
}

.no-p-top {
    padding-top: 0 !important;
}

.no-bg {
    background: none !important;
}

.middle-content {
    position: relative;
}

.middle-content > div,
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centered-content {
    width: 100%;
    padding: 0 15px;
}

.clean-list {
    list-style-type: none;
    letter-spacing: 0em;
    padding: 0;
    margin: 0;
}

.text-gradient {
    background: -webkit-linear-gradient(left, #e61e65, #6d2763, #6d2763);
    background: linear-gradient(90deg, #e61e65, #6d2763, #6d2763);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #e61e65;
}

.bg-gradient {
    background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
    background: linear-gradient(90deg, #e61e65, #9b3a8b);
}

#page {
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#page.dom-ready {
    opacity: 1;
    overflow: auto;
}

.row-fit,
.vc_row.row-fit {
  margin: 0;
}
.row-fit [class*="col-"] {
  padding: 0;
}

.no-padding,
.no-padding.wpb_column > .vc_column-inner {
    padding: 0 !important;
}

html .row-fit,
html .vc-row-fit {
  margin: 0;
}
html .row-fit [class*="col-"],
html .row-fit .vc_column_container > .vc_column-inner,
html .vc-row-fit .vc_column_container > .vc_column-inner {
  padding: 0;
}
html .row-fit [class*="col-"] .vc_row,
html .row-fit .vc_column_container > .vc_column-inner .vc_row,
html .vc-row-fit .vc_column_container > .vc_column-inner .vc_row {
  margin: 0 !important;
}

 .vc_row-has-fill>.vc_column_container>.vc_column-inner {
    padding-top: 0 !important;
 }

.full-height {
  height: 100vh;
  padding-bottom: 0;
  overflow-y: auto;
  padding-top: 0;
}
.middle-content {
  position: relative;
}
.middle-content > div:not(.vc_parallax-inner) {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.paralax-section {
  position: relative;
  overflow: hidden;
}
.paralax-section > div:not(.vc_parallax-inner) {
  position: relative;
  z-index: 1;
}
.paralax-section .vc_parallax-inner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.box-map {
  position: relative;
  overflow: hidden;
  min-height: 500px;
}
.box-map > div:not(#map-canvas) {
  z-index: 1;
  position: relative;
}
.box-map > div:not(#map-canvas) .container {
  pointer-events: none;
}
.box-map > div:not(#map-canvas) .container #map-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  pointer-events: all;
}

.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    padding-top: 0;
}


button,
header .toggle-wrapper i,
header .toggle-wrapper .share-block .social-platforms,
.header-search-form,
header,
.header-search-form i,
.video-toggle,
.video-toggle-s,
.service-item .s-icon,
.service-item-big:before,
.service-item-big .meta,
.progress-item .caption,
.progress-item .progress-bar .heading:before,
.tabbed-content .tabs li,
header .mobile-toggle,
.blog-post-item .post-cover,
.blog-post-item,
.single-share-block .social-platforms,
.widget.widget_popular_posts .posts li:before,
.widget.widget_popular_posts .posts li:after,
form .input-line span,
form .input-line .label:before,
.slick-dots li button:before,
.tabbed-content.grad .tabs li:before,
.service-item-big,
.feature-item .f-icon,
.slick-prev:before,
.slick-next:before,
form .input-line input,
form .input-line textarea,
header .main-nav > ul > li a:before  {
    -webkit-transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/*-------------Buttons---------------*/
    .btn {
        display: inline-block;
        position: relative;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        background: #e91e63;
        padding: 8px 26px;
        border-radius: 4px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .btn.big {
        padding: 12px 43px;
    }

    .btn.gradient:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        border-radius: 4px;
        z-index: -1;
    }

    .btn.gradient:hover:before {
        opacity: 0.9
    }

    .btn.gradient:hover {
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.22),0 4px 15px 0 rgba(0,0,0,.18);
    }

    .btn.white {
        color: #e91e63;
        background: #ffffff;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    }

    .btn.white:hover {
        color: #e91e63;
        background: #f6f6f6;
    }

    .circle-btn {
        display: inline-block;
        color: #fff;
        background: #e91e63;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        text-align: center;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
    }

    .circle-btn.small {
        width: 50px;
        height: 50px;
    }

    .circle-btn.more {
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
    }

    .circle-btn.more:hover {
        opacity: 0.95;
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.25),0 4px 15px 0 rgba(0,0,0,.20);
    }

    .circle-btn.more:before {
        display: inline-block;
        content: "\e90a";
        font-size: 28px;
        line-height: 50px;
        width: 61px;
    }

    .circle-btn:before {
        content: "\e900";
        font-family: Icomoon;
        font-size: 15px;
        line-height: 70px;
    }

    .btn:hover,
    .circle-btn:hover  {
        color: #fff;
        cursor: pointer;
        background: #f52d71;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    }

/*-------------Forms-----------------*/
    .respond-form .title, {
        text-align: center;
        color: #424242;
        font-size: 27px;
        line-height: 40px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .respond-form .input-line {
        margin: 0 0 35px;
    }

    .respond-form .form-input {
        color: #919191;
        font-size: 16px;
        font-weight: 300;
        border-bottom: 1px solid #dadada;
        padding: 12px 0;
        width: 100%;
    }

    .respond-form textarea.form-input {
        min-height: 120px;
    }

    .respond-form .form-submit input{
        display: table;
        margin: 0 auto;
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        padding: 15px 26px;
    }

    form .grouped .input-line:not(:last-child) {
        margin: 0 0 25px;
    }

    form .input-line input,
    form .input-line textarea {
        width: 100%;
        font-size: 16px;
        color: #919191;
        font-weight: 300;
        padding: 12px 8px;
        border-bottom: 1px solid #dadada;
    }

    form .input-line .input-border {
        position: relative;
    }

    form .input-line .line-border {
        position: absolute;
        height: 1px;
        width: 0;
        bottom: 0;
        background: #e91e63;
    }

    form .input-line .line-border.textarea {
        bottom: 7px;
    }

    form .input-line textarea {
        min-height: 170px;
        padding: 12px 8px 36px 8px;
    }

    form .input-line input:focus + span + .line-border, 
    form .input-line textarea:focus + span + .line-border {
        width: 100%;
    }

    .contact-form .input-line input:focus + span + .line-border, 
    .contact-form .input-line textarea:focus + span + .line-border {
        width: calc(100% - 245px);
    }

    form .input-line .placeholder {
        position: absolute;
        top: 10px;
        margin-left: 8px;
        font-size: 16px;
        color: #919191;
        font-weight: 300;
        pointer-events: none;
        transform-origin: 8px 0;
        -webkit-transform-origin: 8px 0;
    }

    form .input-line .placeholder span {
        color: #e91e63;
        padding: 0 0 0 3px;
    }

    div#error-container ul {
        display: inline-block;
        list-style-type: none;
        margin: 0 auto;
        color: #a23787;
    }

    .contact-form .input-line {
        position: relative;
        padding: 0 0 0 245px;
        margin: 0 0 50px;
    }

    form .input-line {
        position: relative;
    }

    form .input-line .label,
    form .input-line.no-email.has-value .label {
        position: absolute;
        top: 11px;
        left: 0;
        padding: 0 47px 0 0;
        font-size: 17px;
        color: #b3b3b3;
        font-weight: 300;
        text-align: right;
        width: 195px;
    }

    form .input-line .label:hover {
        cursor: pointer;
    }

    form .input-line .label:before,
    form .input-line.no-email.has-value .label:before {
        content: "\e90e";
        font-family: Icomoon;
        color: #d0d0d0;
        font-size: 19px;
        position: absolute;
        top: 0;
        right: 5px;
        width: 20px;
    }

    form .input-line.has-value .label {
        color: #e91e63;
    }

    form .input-line.has-value .label:before {
        color: #e91e63;
    }

    form .input-line .check-value:focus + span, 
    form .input-line.has-value .check-value + span {
        color: #d2d2d2;
        -webkit-transform: translateY(-22px) scale(0.85);
                transform: translateY(-22px) scale(0.85);
    }

    .contact-form .input-line.submit input[type="submit"]{
            border: none;
            min-width: 200px;
            width: auto;
            display: table;
            position: relative;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
            background: linear-gradient(90deg, #e61e65, #9b3a8b);
            padding: 18px 26px;
            border-radius: 4px;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
            z-index: 1;
        }

    @media(max-width: 768px) {
        .contact-form {
            padding: 40px 0 0 0;
        }

        .contact-form .input-line {
            padding: 0;
            margin: 0 0 75px;
        }

        .contact-form .input-line .label, 
        .contact-form .input-line.no-email.has-value .label {
            top: -38px;
            width: auto;
            text-align: left;
        }

        .contact-form .input-line.submit {
            margin: 0 0 30px;
        }
    }

/*-------------Header----------------*/
    .search-form-visible .header-search-form {
        top: 0;
    }

    .header-search-form {
        position: absolute;
        top: -70px;
        width: 100%;
        z-index: 1001;
        background: #fff;
        padding: 20px 20% 19px;
    }

    .header-search-form .input-line {
        width: 100%;
        font-size: 22px;
        color: #444343;
        margin: 0;
        padding: 0;
    } 

    .header-search-form i {
        cursor: pointer;
        position: absolute;
        color: #444343;
        right: 38px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        padding: 7px;
        font-size: 14px;
    }

    .header-search-form i:hover {
        color: #f52d71;
    }

    header {
        position: absolute;
        color: #fff;
        left: 0;
        right: 0;
        top: 0;
        z-index: 999;
        text-align: center;
        padding: 7px 0 0 0;
    }

    @-webkit-keyframes stickyheader {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }

    @keyframes stickyheader {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }

    header.sticky.fixed {
        position: fixed;
        background: rgba(36, 36, 51,0.8);
        -webkit-animation:  stickyheader 1s;
                animation:  stickyheader 1s;
    }

    header .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }

    header .main-nav {
        display: inline-block;
    }

    header .logo-wrapper {
        float: left;
        line-height: 54px
    }

    header .toggle-wrapper {
        float: right;
    }

    header .buy-button {
        float: right;
        margin: 14px 0 0 15px;
    }

    header .mobile-toggle {
        display: none;
        position: relative;
        color: #fff;
        width: 44px;
        height: 44px;
        vertical-align: top;
        margin: 0 2px 0 0;
        border-radius: 50%;
    }

    header .mobile-toggle:hover {
        cursor: pointer;
        background: rgba(255,255,255, 0.2);
    }

    header .mobile-toggle:before {
        content: "\e909";
        font-family: icomoon;
        font-style: normal;
        -webkit-backface-visibility: hidden;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        font-size: 18px;
    }

    header .toggle-wrapper {
        margin: 4px 0 0 ;
    }

    header .toggle-wrapper .share-block {
        display: inline-block;
        position: relative;
        padding: 0 0 12px;
    }

    header .toggle-wrapper .share-block .icon-share,
    header .toggle-wrapper .search-toggle {
        display: inline-block;
        font-size: 16px;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        line-height: 44px;
    }

    header .toggle-wrapper .share-block .icon-share:hover,
    header .toggle-wrapper .search-toggle:hover {
        cursor: pointer;
        background: rgba(255,255,255, 0.2);
    }
    
    header .toggle-wrapper .share-block .social-platforms {
        position: absolute;
        top: 55px;
        right: 0;
        text-align: left;
        background: #fff;
        width: 125px;
        padding: 10px 0;
        border-radius: 3px;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scaleX(.5) scaleY(.5);
                transform: scaleX(.5) scaleY(.5);
        -webkit-transform-origin: 100% 0;
                transform-origin: 100% 0;
    }

    header .toggle-wrapper .share-block:hover .social-platforms {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    header .toggle-wrapper .share-block .social-platforms a {
        display: block;
        font-size: 14px;
        font-weight: 300;
        color: #444343;
        padding: 1px 22px;
        width: 100%;
        text-transform: capitalize;
    }

    header .toggle-wrapper .share-block .social-platforms a:hover {
        background: #eeeeee;
    }

    header .main-nav ul li a {
        display: inline-block;
        position: relative;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.1em;
    }

    @media (min-width: 1200px) {
        header .main-nav ul {
            display: inline-block;
            list-style-type: none;
            text-align: left;
            padding: 0;
            margin: 0;
        }

        header .main-nav ul li {
            position: relative;
            text-transform: uppercase;
            display: inline-block;
            letter-spacing: 0;
            vertical-align: top;
            position: relative;
            font-size: 13px;
            color: #fff;
        }

        header .main-nav ul li  {
            padding: 15px 0;
        }

        header .main-nav ul li:not(:last-of-type) {
            margin-right: 15px;
        }

        header .main-nav > ul > li a:before {
            position: absolute;
            content: "";
            width: 0;
            height: 2px;
            background: #ea5285;
            left: -1px;
            bottom: 0;
        }

        header .main-nav ul li a:hover,
        header .main-nav ul > li.current-menu-item a {
            color: #fff;
        }

        header .main-nav ul > li a:hover:before,
        header .main-nav ul > li.menu-item-has-children:hover > a:before,
        header .main-nav ul > li.active a:before {
            width: 100%;
        }

        header .main-nav ul li ul {
            -webkit-transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
            -webkit-transform: scale(0.7);
                    transform: scale(0.7);
            -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
            visibility: hidden;
            opacity: 0;
            background: rgba(255,255,255,0.3);
            position: absolute;
            padding: 15px 15px 15px 18px;
            width: 220px;
            top: 100%;
            left: 0;
        }

        header.fixed .main-nav ul li ul {
            background: rgba(36, 36, 51,1);
        }

        header .main-nav ul li ul li {
            text-transform: uppercase;
            display: block;
            color: #fff;
            padding: 2px 0;
            margin: 0 !important;
        }

        header .main-nav ul li ul li a {
            padding: 0;
            font-weight: 400;
            font-size: 12px;
        }

        header .main-nav ul li ul li a:before {
            height: 1px;
            bottom: 2px;
        }

        header .main-nav ul li ul li ul {
            background: #332a47;
            left: 100%;
            top: 0;
        }

        header .main-nav ul li:hover > ul {
            visibility: visible;
            opacity: 1;
            -webkit-transform: scale(1);
                    transform: scale(1);
        }

        header .main-nav ul li.menu-item-has-children > a {
            padding-right: 17px;
        }

        header .main-nav ul li.menu-item-has-children > a:after {
            content: "\f107";
            font-family: FontAwesome;
            position: absolute;
            line-height: 1em;
            font-size: 12px;
            right: 0;
            top: 5px;
        }
    }

    @media (max-width: 1200px) {
        header .main-nav {
            -webkit-transition: all 180ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition: all 180ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scaleY(0.935);
            transform: translateZ(0) scaleY(0.935);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            background: rgba(0,0,0,0.85);
            padding: 30px 35px;
            position: fixed;
            display: block;
            width: 325px;
            z-index: 9;
            bottom: 0;
            left: 0;
            top: 0;
            visibility: hidden;
            opacity: 0;
        }

        header .main-nav ul {
            text-align: left;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        header .main-nav ul li {
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-size: 1.05rem;
            font-weight: 500;
            color: white;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

        header .main-nav ul li a:focus {
            color: inherit;
        }

        header .main-nav ul li a:hover {
            color: #e91e63;
        }

        header .main-nav ul li.menu-item-has-children {
            position: relative;
        }

        header .main-nav ul li.menu-item-has-children:after {
            content: "\f107";
            font-family: FontAwesome;
            position: absolute;
            line-height: 1em;
            font-size: 12px;
            right: 0;
            top: 8px;
        }

        header .main-nav ul li.menu-item-has-children.active:after {
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
            color: #e91e63;
        }

        header .main-nav ul li.menu-item-has-children.active > a {
            color: #e91e63;
        }

        header .main-nav ul li ul {
            display: none;
            padding-top: 7.5px;
        }
        
        header .main-nav ul li ul li {
            font-size: 9px;
            margin-bottom: 2.5px;
            padding-bottom: 2.5px;
            padding-left: 10px !important;
        }
        
        header .main-nav ul li:not(:last-of-type) {
            border-bottom: 1px solid rgba(255,255,255,0.15)
        }
        
        header .main-nav ul li:last-of-type {
            padding: 0;
            margin: 0;
        }

        header .mobile-toggle {
            display: inline-block;
        }
    }

    @media (max-width: 1200px) and (max-width: 768px) {
        header .main-nav {
            width: 250px;
        }
    }

    @media (max-width: 1200px) {
        .page-wrapper {
            -webkit-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
            position: relative;
            background: white;
            left: 0;
        }
        .page-wrapper:before {
            content: "";
            position: fixed;
            background: #1f1f24;
            pointer-events: none;
            width: 325px;
            z-index: -1;
            bottom: 0;
            left: 0;
            top: 0;
        }
    }

    @media (max-width: 1200px) and (max-width: 768px) {
        .page-wrapper:before {
            width: 250px;
        }
    }

    @media (max-width: 1200px) {
        .mobile-nav-visibile {
            overflow-x: hidden;
        }
        .mobile-nav-visibile header .main-nav {
            -webkit-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
            -webkit-transition-delay: 300ms;
            transition-delay: 300ms;
            -webkit-transform: translateZ(0) scaleX(1);
            transform: translateZ(0) scaleX(1);
            visibility: visible;
            opacity: 1;
        }
    }

    @media(min-width: 1450px) {
        header .main-nav ul li:not(:last-of-type) {
            margin-right: 30px;
        }
    }

    @media(min-width: 1600px) {
        header .main-nav ul li:not(:last-of-type) {
            margin-right: 45px;
        }
    }

    @media(min-width: 1200px) and (max-width: 1350px) {
        header .logo-wrapper {
            max-width: 165px;
        }

        header .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    @media(max-width: 768px) {
        .header-search-form {
            padding: 19px 15px;
        }

        .header-search-form i {
            right: 15px;
        }

        header .logo-wrapper {
            max-width: 160px;
            line-height: 48px;
        }
    }
/*-------------Footer----------------*/
    footer {
        color: #dedee2;
        background: #242433;
        padding: 25px 0;
    }

    footer ul li {
        display: inline-block;
    }

    footer ul li a:hover {
        color: #e91e63;
    }

    footer .footer-menu {
        float: left;
    }

    footer .footer-menu li {
        font-size: 13px;
        line-height: 30px;
        letter-spacing: 0.06em;
        font-weight: 300;
    }

    footer .footer-menu li:not(:last-of-type) {
        margin-right: 46px;
    }

    footer .social-links {
        float: right;
    }

    footer .social-links li {
        font-size: 13px;
        line-height: 30px;
    }

    footer .social-links li:not(:last-of-type) {
        margin-right: 16px;
    }

    footer .copyright{
        text-align: center;
        font-size: 13px;
        color: #dedee2;
        margin: 20px 0 0;
    }

    @media(max-width: 992px) {
        footer .footer-menu,
        footer .social-links {
            float: none;
            display: table;
            margin: 0 auto;
        }

        footer .social-links {
            margin: 15px auto 0;
        }
    }

/*-------------Widgets---------------*/
    .widget {
        padding: 0 0 22px;
    }

    .widget ul {
        list-style-type: none;
        padding: 0;
    }

    .widget.widget_categories ul li {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: #c02c78;
        font-weight: 400;
        border-bottom: 1px solid #f2f2f2;
        padding: 8px 20px 8px 25px;
    }

    .widget .widget-title {
        position: relative;
        color: #b2b2b2;
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
        margin: 0 0 18px;
    }

    .widget .widget-title:before {
        content: "";
        position: absolute;
        right: 0;
        top: 12px;
        width: 50%;
        height: 3px;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
    }

    .widget .widget-title:after {
        content: "";
        position: absolute;
        right: 0;
        top: 12px;
        width: 30px;
        height: 3px;
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
    }

    .widget.widget_tag_cloud .tagcloud a {
        display: inline-block;
        position: relative;
        color: #b2b2b2;
        font-size: 17px !important;
        line-height: 24px;
        letter-spacing: 0.02em;
        font-weight: 500;
        padding: 0 15px 0 0;
        margin: 0 0 15px;
    }

    .widget.widget_tag_cloud .tagcloud a:hover {
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .widget.widget_tag_cloud .tagcloud a:before {
        content: "#";

    }  

    .widget.widget_popular_posts .posts {
        padding-top: 5px;
    }

    .widget.widget_popular_posts .posts li {
        position: relative;
        margin: 0 0 20px;
        min-height: 100px
    }

    .widget.widget_popular_posts .posts li:before {
        content: "\e900";
        position: absolute;
        top: 50%;
        right: 20px;
        color: #fff;
        font-family: Icomoon;
        font-size: 12px;
        -webkit-transform: rotate(-90deg) translateX(10px);
                transform: rotate(-90deg) translateX(10px);
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
    }

    .widget.widget_popular_posts .posts li:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }

    .widget.widget_popular_posts .posts li:hover:after {
        visibility: visible;
        opacity: 1;
    }

    .widget.widget_popular_posts .posts li:hover:before {
        right: 18px;
        opacity: 1;
        visibility: visible;
    }

    .widget.widget_popular_posts .posts li h3 {
        position: absolute;
        top: 50%;
        right: 30px;
        left: 30px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5em;
        z-index: 10;
    }

    .widget.widget_search .search-form {
        position: relative;
    }

    .widget.widget_search .search-form input {
        color: #6d6d6d;
        font-size: 17px;
        font-weight: 300;
        width: 100%;
        border-bottom: 1px solid #d4d4d4;
        padding: 16px 0 16px 42px;
    }

    .widget.widget_search .search-form .form-submit {
        position: absolute;
        top: 16px;
        left: 5px;
        background: none;
    }

    .widget.widget_search .search-form .form-submit i {
        font-size: 17px;
        color: #a43988;
        font-weight: 700;
    }

   .widget.tesla-twitter-widget .tt_twitter .twitter li {
        color: #adadad;
        font-size: 13px;
        letter-spacing: 0.04em;
        line-height: 1.4em;
        padding: 0 0 18px;
    }

    .widget.tesla-twitter-widget .tt_twitter .twitter li:last-child {
        padding: 0;
    }

    .widget.tesla-twitter-widget .tt_twitter .twitter li a {
        font-weight: 500;
        color: #ca2973;
    }

    .widget.tesla-twitter-widget .tt_twitter .twitter li a:hover {
        color: #e91e63;
    }

    .widget.tesla-twitter-widget .tt_twitter .twitter li .date {
        display: block;
        padding: 10px 0 0;
        font-size: 11px;
        color: #757678;
        letter-spacing: 0.2em;
        font-weight: 500;
        text-transform: uppercase;
    }   

    @media(max-width: 1200px) {
        .widget.widget_popular_posts .posts li {
            min-height: 120px;
        }

        .widget.widget_popular_posts .posts li img {
            position: absolute;
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }

        .widget.widget_popular_posts .posts li h3 {
            font-size: 17px;
        }
    }  

/*-------------Isotope---------------*/
    .isotope-container {
        overflow: hidden;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-property: height, width;
        transition-property: height, width;
        margin-bottom: 22px;
    }

    .isotope-filters {
        text-align: center;
        padding: 50px 0 35px;
    }

    .isotope-filters ul {
        list-style-type: none;
    }

    .isotope-filters ul li {
        display: inline-block;
        padding: 0 7px 15px 7px
    }

    .isotope-filters ul li a {
        position: relative;
        color: #757575;
        font-size: 17px;
        line-height: 27px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 3px 9px;
        border-radius: 4px;
    }

    .isotope-filters ul li a:before {
        pointer-events: none;
        position: absolute;
        top: -50px;
        left: -5%;
        content: "";
        width: 110%;
        height: 3px;
        background: #4527a0;
        opacity: 0;
        -webkit-transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    .isotope-filters ul li a:after {
        pointer-events: none;
        top: -47px;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-top-color: #4527a0;
        border-width: 6px;
        margin-left: -6px;
        opacity: 0;
        -webkit-transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    .isotope-filters ul li a.current:before {
        opacity: 1;
    }

    .isotope-filters ul li a.current:after {
        opacity: 1;
    }

    .isotope-filters ul li a.current {
        color: #4527a0;
        background: #ece9f5;
    }

    .isotope-filters ul li a:hover {
        color: #4527a0;
    }

/*-------------PopUp-----------------*/
    .popup-wrapper {
        -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        visibility: hidden;
        opacity: 0;
        background-color: rgba(76, 74, 88, 0.9);
        position: fixed;
        z-index: 1000;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }

    .popup-wrapper .popup-inner-content {
        overflow: auto;
        display: block;
        padding: 45px;
        height: 100%;
    }

    .popup-visible {
        overflow: hidden;
    }

    .popup-visible .popup-wrapper {
        -webkit-transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        visibility: visible;
        opacity: 1;
    }

    .media-wrapper {
        -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-transition-delay: 300ms;
        transition-delay: 300ms;
        position: relative;
        max-width: 1310px;
        background: #fff;
        display: block;
        margin: 0 auto;
        padding: 20px;
        opacity: 0;
    }

    @media (min-width: 992px) {
        .media-wrapper {
            -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
            top: 50%;
        }
    }

    .media-wrapper {
        padding: 0;
    }

    .close-video-popup-toggle {
        display: inline-block;
        position: absolute;
        cursor: pointer;
        height: 32px;
        right: 25px;
        width: 32px;
        z-index: 3;
        top: 25px;
    }

    .close-video-popup-toggle:before, .close-video-popup-toggle:after {
        -webkit-transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        display: inline-block;
        background: #f4f4f4;
        position: absolute;
        height: 32px;
        content: "";
        width: 1px;
        left: 50%;
        top: 0;
    }
    .close-video-popup-toggle:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .close-video-popup-toggle:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .close-video-popup-toggle:hover:before, .close-video-popup-toggle:hover:after {
        background: #fff;
    }

    .video-popup-visible {
        overflow: hidden;
    }
    .video-popup-visible .video-popup {
        -webkit-transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        cursor: default;
        visibility: visible;
        opacity: 1;
    }

    .video-popup-visible .video-popup .media-wrapper {
        -webkit-transition-delay: 150ms;
        transition-delay: 150ms;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
        opacity: 1;
        top: 50%;
    }

/*-------------Hero-Section-------------*/
    .hero-section {
        position: relative;
        text-align: center;
        height: calc(100vh - 45px);
        max-height: 715px;
        min-height: 420px;
        box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.4);
    }


    .hero-section .container {
        position: relative;
        height: 100%;
    }

    .hero-section .centered-content {
        padding: 0 15px 60px;
    }

    .hero-section.simple {
        height: auto;
        min-height: auto;
    }

    .hero-section .hero-title {
        color: #ffffff;
        font-size: 46px;
        line-height: 45px;
        margin: 32px 0 38px 0px;
    }

    .hero-section.simple .hero-title {
        margin: 0;
        padding: 300px 0 170px;
    }

    .hero-section .hero-title b {
        font-weight: 500; 
    }

    .hero-section .description {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        font-weight: 300;
        margin: 0 0 40px;
    }

    .hero-section .circle-btn {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: -35px;
        z-index: 10;
    }

    .hero-section.single {
        background-size: cover !important;
        min-height: 300px;
        max-height: 600px;
        text-align: left;
    }

    .hero-section.single .post-title {
        color: #ffffff;
        font-size: 36px;
        line-height: 45px;
        font-weight: 300;
        margin: 0 0 15px;
    }

    .hero-section.single span {
        color: #f8f8f8;
        font-size: 16px;
        letter-spacing: 0.02em;
        font-weight: 300;
    }

    @media(max-width: 768px) {
        .hero-section,
        .hero-section.single {
            max-height: none;
            min-height: auto;
            height: auto;
        }

        .hero-section .centered-content {
            position: static;
            top: auto;
            left: auto;
            -webkit-transform: none;
                    transform: none;
            padding: 60px 0 20px;
            margin: 0 0 40px;
        }

        .hero-section.single .centered-content {
            padding: 150px 0;
        }
    }

/*-------------General Elements---------*/
    .section-title {
        text-align: center;
        margin: 70px auto 40px;
        max-width: 540px;
    }

    .section-title.search {
        text-align: center;
        margin: 90px auto;
        max-width: 540px;
    }

    .section-title.grad {
        max-width: 620px;
    }

    .section-title h2 {
        position: relative;
        color: #919191;
        font-weight: 100;
        font-size: 36px;
        line-height: 45px;
        margin: 0 0 20px;
        padding: 0 0 20px;
    }

    .section-title h2:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background: currentColor;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: 0;
    }

    .section-title.grad h2:before {
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);;
    }

    .section-title h2 span {
        color: #e91e63;
    }

    .section-title p {
        color: #919191;
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
        margin: 0;
        padding: 0 0 22px;
    }

    .section-title.white h2,
    .section-title.white p {
        color: #fff;
    }

/*-------------Blog Items---------------*/
    .blog-section {
        padding: 0 0 60px;
    }

    .blog-section .more-btn {
        padding: 60px 0 0;
    }

    .blog-post-item {
        position: relative;
        overflow: hidden;
    }

    .blog-post-item:hover {
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
    }

    .blog-post-item:hover .post-cover {
        -webkit-transform: scale(1.02);
                transform: scale(1.02);
    }

/********************************************** ADDED BY DEV **********************************/

    .blog-section .col-sm-12 img.post-cover {
        width: 100%;
    }

    .pagination .page-numbers{
        padding-left: 0;
    }
    .pagination .page-numbers li {
        display: inline-block;
        height: 38px;
        padding-top: 7px;
    }

    .pagination .page-numbers li a{
        padding: 7px 15px;
        font-size: 20px;
        font-weight: 500;
        color: #e91e63;
        cursor: pointer;
        border-radius: 50%;
    }

    .pagination .page-numbers li a:hover{
        background: webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        color: #fff;
    }

    ul.page-numbers {
        margin-top: 40px;
        text-align: center;
    }

    .pagination .page-numbers li .current {
        padding: 7px 15px;
        background: webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        border-radius: 50%;
    }

    .comment-body .fa-reply {
        position: absolute;
        right: 45px;
        bottom: 5px;
    }


/********************************************** ADDED BY DEV **********************************/
    .blog-post-item .post-meta {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 62px;
    }

    .blog-post-item .post-meta .post-title {
        color: #fff;
        font-size: 36px;
        line-height: 45px;
        font-weight: 300;
    }

    .blog-post-item .post-meta a:hover {
        color: #c5c5c5;
    }

    .blog-post-item .post-meta .post-categories {
        position: absolute;
        bottom: 62px;
        color: #fff;
    }

    .blog-post-item .post-meta .post-categories li {
        position: relative;
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        padding: 0 12px 0 0;
    }

    .blog-post-item .post-meta .post-categories li:before {
        content: "/";
        position: absolute;
        top: 0;
        right: 0;
    }

    .blog-post-item .post-meta .post-categories li:last-child:before {
        content: none;
    }

    .single .centered-content .post-categories {
        margin-top: 20px;
        padding: 0;
        color: #fff;
    }

    .single .centered-content .post-categories li {
        position: relative;
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        padding: 0 12px 0 0;
    }

    .single .centered-content .post-categories li:before {
        content: "/";
        position: absolute;
        top: 0;
        right: 0;
    }

    .single .centered-content .post-categories li:last-child:before {
        content: none;
    }

    .blog-post-item .post-meta .read-more {
        position: absolute;
        display: block;
        right: 60px;
        bottom: 58px;
        width: 28px;
        padding: 5px;
        font-size: 0;
    }

    .blog-post-item .post-meta .read-more:before {
        content: "\e900";
        position: absolute;
        color: #fff;
        font-family: Icomoon;
        font-size: 17px;
        font-weight: 700;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
    }

    .blog-post-item .post-meta .read-more:hover:before {
        color: #c5c5c5;
    }

    .news-section {
        background: #f7f7f7;
        padding: 45px 0 90px;
    }

    .news-item {
        text-align: center;
        padding: 18px 22px 27px;
        background: #eb1b59;
        margin: 0 0 30px;
    }

    .news-item .category {
        display: block;
        padding: 0 0 18px;
        color: #fff;
        font-size: 10px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: 700;
    }

    .news-item .title {
        color: #ffffff;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.02em;
        font-weight: 700;
    }

    .news-item .description {
        font-size: 14px;
        line-height: 18px;
        color: #e1e1e1;
        margin: 0 0 27px;
    }

    .news-item-cover {
        background: #fff;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
        margin: 0 0 30px;
    }

    .news-item-cover .cover {
        position: relative;
    }

    .news-item-cover .cover img {
        width: 100%;
        max-height: 170px;
        -o-object-fit: cover;
           object-fit: cover;
    }

    .news-item-cover .category {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .news-item-cover .category a {
        padding: 5px 14px;
        color: #fff;
        font-size: 10px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: 700;
        background: #e91e63;
        border-radius: 5px;
        margin: 0 5px 0 0;
    }

    .news-item-cover .category a:hover {
        background: #f52d71;
    }

    .news-item-cover .title {
        font-size: 15px;
        line-height: 18px;
        color: #3a3d3f;
        letter-spacing: 0.02em;
        font-weight: 700;
        margin: 0;
        padding: 28px 25px 10px;
    }

    .news-item-cover .description {
        color: #838d8f;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
        font-weight: 300;
        margin: 0;
        padding: 0 25px 19px;
    }

    .news-item-cover.big {
        padding: 20px 30px 0;
    }

    .news-item-cover.big .content,
    .news-item-cover.big .cover {
        display: inline-block;
        float: left;
    }

    .news-item-cover.big .cover img {
        width: auto;
        max-height: none;
    }

    .news-item-cover.big .content {
        width: 55%;
        padding: 0 15px 29px 0;
    }

    .news-item-cover.big .cover {
        width: 45%;
    } 

    .news-item-cover.big .category {
        position: relative;
        top: auto;
        left: auto;
    }

    .news-item-cover.big .title {
        font-size: 22px;
        line-height: 26px;
        padding: 22px 0 8px;
    }

    .news-item-cover.big .description {
        padding: 0 0 22px;
    }

    .news-item-cover.big .cover img {
        float: right;
    }
    
    .single-blog-post {
        padding: 55px 0 0 0;
    }

    .single-blog-post .description {
        padding: 0 0 20px;
    }

    .tag-list{
        padding-bottom: 80px;
    }

    .tag-list a {
        padding: 5px 10px;
        background: #dedee2;
        margin-right: 5px;
        border-radius: 3px;
        transition: all 175ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    .tag-list a:hover {
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        color: #dedee2;
    }

    .single-blog-post .description h1,
    .single-blog-post .description h2,
    .single-blog-post .description h3,
    .single-blog-post .description h4,
    .single-blog-post .description h5 {
        font-weight: 300;
        margin: 0 0 25px;
    }


    .single-blog-post .description p {
        color: #434346;
        font-size: 17px;
        line-height: 31px;
        margin: 0 0 30px;
    }

    .single-blog-post .description img.aligncenter {
        padding: 15px 0 15px
    }

    .single-blog-post .comments-list .comment {
        padding: 0 0 30px;
        margin: 0 0 39px;
        border-bottom: 1px solid #f1f1f1;
        min-height: 105px;
    }

    .single-blog-post .comments-list .comment .user-title {
        display: inline-block;
        color: #888888;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.02em;
    }

    .single-blog-post .comments-list .comment ul {
        padding: 40px 0 0 30px;
        list-style-type: none;
    }

    .single-blog-post .comments-list .comment .comment-body {
        position: relative;
        padding: 0 0 0 98px;
    }

    .single-blog-post .comments-list .comment .comment-body .avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 70px;
    }

    .single-blog-post .comments-list .comment .comment-body .avatar img {
        border-radius: 50%;
    }

    .single-blog-post .comments-list .comment .comment-body .message {
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #6a6a6a;
        padding: 0 100px 0 0;
    }

    .single-blog-post .comments-list .comment .comment-date {
        float: right;
        font-size: 13px;
        color: #888888;
        font-weight: 300;
        letter-spacing: 0.02em;
        vertical-align: top;
        padding: 0 0 0 12px;
    }

    .single-blog-post .comments-list .comment .comment-reply-link {
        float: right;
        font-size: 13px;
        color: #424242;
        text-transform: uppercase;
        font-weight: 600;
        vertical-align: top;
    }

    .single-blog-post .comments-list .comment .comment-reply-link:hover {
        color: #ceb5fa;
    }

    .single-blog-post .comments-area {
        padding: 0 0 25px;
    }

    .single-blog-post .reply-area {
        padding: 0 0 80px;
    }

    .single-blog-post .respond-form {
        padding: 0 15%;
    }


    .hero-section .single-share-block {
        position: absolute;
        bottom: -35px;
        right: 15px;
    }

    .single-share-block .share-btn {
        position: relative;
        left: auto;
        -webkit-transform: none;
                transform: none;
        bottom: 0;
        background: #fff;
        z-index: 10;
    }

    .single-share-block .share-btn:before {
        content: "\e90d";
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #e61e65;
        font-size: 25px;
        line-height: 73px;
    }

    .single-share-block .social-platforms {
        position: absolute;
        top: -5px;
        right: -5px;
        background: #fff;
        padding: 14px 14px 8px 14px;
        border-radius: 3px;
        width: 180px;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scaleX(.5) scaleY(.5);
                transform: scaleX(.5) scaleY(.5);
        -webkit-transform-origin: 100% 0;
                transform-origin: 100% 0;
        z-index: 15;
    }

    .single-share-block .social-platforms li {
        color: #4a4a4a;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.02em;
        padding: 0 0 8px;
    }

    .single-share-block .social-platforms li.title {
        color: #4a4a4a;
        font-size: 20px;
        font-weight: 300;
        padding: 0 0 12px 9px;
    }

    .single-share-block .social-platforms li a i {
        font-size: 15px;
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #e61e65;
        width: 35px;
        text-align: center;
    }

    .single-share-block .share-btn:hover + .social-platforms,
    .single-share-block .social-platforms:hover  {
        visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    .single-share-block .share-btn:hover {
        cursor: default;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
    }

    .related-posts {
        padding: 58px 0 70px;
        background: #fafafa;
    }

    .related-posts .box-title {
        color: #444444;
        font-size: 24px;
        line-height: 45px;
        font-weight: 300;
        margin: 0 0 45px;
    }

    .related-posts .container {
        position: relative;
    }

    .related-posts .single-share-block {
        position: absolute;
        top: -95px;
        right: 0;
    }

    @media(min-width: 1410px) {
        .related-posts .single-share-block {
            right: -95px;
        }

        .hero-section .single-share-block {
            right: -95px;
        }
    }

    @media (min-width: 1208px) {
        .news-section > .container {
            padding: 0;
        }

        .single-blog-post .has-sidebar {
            padding: 0;
        }

        .single-blog-post .has-sidebar-left {
            padding: 0;
        }
    }

    @media (min-width: 1200px) {
        .related-posts .container-fluid {
            padding-left: 90px;
            padding-right: 90px;
        }

        .blog-section .container-fluid {
            padding-left: 90px;
            padding-right: 90px;
        }
    }

    @media(min-width: 992px) {
        .single-blog-post .has-sidebar > .row {
            margin: 0;
        }

        .single-blog-post .has-sidebar-left > .row {
            margin: 0;
        }

        .single-blog-post .has-sidebar > .row > [class*="col-"] {
            padding: 0;
        }

        .single-blog-post .has-sidebar-left > .row > [class*="col-"] {
            padding: 0;
        }

        .single-blog-post .has-sidebar .sidebar {
            padding-left: 90px;
        }

        .single-blog-post .has-sidebar-left .sidebar {
            padding-right: 90px;
        }
    }

    @media(max-width: 1200px) {
        .single-blog-post .has-sidebar .sidebar {
            padding-left: 30px;
        }

        .single-blog-post .has-sidebar-left .sidebar {
            padding-right: 30px;
        }

        .blog-post-item .post-meta {
            padding: 30px;
        }

        .blog-post-item .post-meta .post-categories {
            bottom: 30px;
        }

        .blog-post-item .post-meta .read-more {
            bottom: 28px;
        }

        .blog-post-item .post-meta .post-title {
            font-size: 28px;
            line-height: 34px;
        }
    }

    @media(max-width: 992px) {
        .single-blog-post .has-sidebar .sidebar {
            padding: 0;
            margin: 0 0 60px;
        }

        .single-blog-post .has-sidebar-left .sidebar {
            padding: 0;
            margin: 0 0 60px;
        }

        .blog-post-item .post-meta {
            padding: 25px;
        }

        .blog-post-item .post-meta .post-categories {
            bottom: 20px;
        }

        .blog-post-item .post-meta .read-more {
            bottom: 18px;
        }

        .blog-post-item .post-meta .post-title {
            font-size: 28px;
            line-height: 34px;
        }
    }

    @media(max-width: 768px) {
        .blog-post-item {
            margin: 0 0 30px;
        }

        .blog-section .more-btn {
            padding: 30px 0 0;
        }

        .related-posts .single-share-block {
            right: 20px;
        }

        .single-blog-post .comments-list .comment .comment-body .message {
            padding: 0;
        }

        .single-blog-post .respond-form {
            padding: 0;
        }
    }

    @media(max-width: 600px) {
        .news-item-cover.big .content,
        .news-item-cover.big .cover {
            width: 100%;
        }

        .news-item-cover.big .cover img {
            float: none;
            display: table;
            margin: 0 auto;
        }

        .news-item-cover.big .cover {
            text-align: center;
        }

        .blog-post-item .post-meta {
            padding: 15px;
        }

        .blog-post-item .post-meta .post-title {
            font-size: 19px;
            line-height: 25px;
        }

        .blog-post-item .post-meta .post-categories li {
            font-size: 14px;
        }

        .blog-post-item .post-meta .read-more:before {
            font-size: 13px;
        }
    }

    @media(max-width: 320px) {
        .single-blog-post .comments-list .comment .comment-date {
            display: block;
            float: none;
            padding: 0 0 15px;
        }
    }

/*-------------404 Error----------------*/
    .error-404 {
        position: relative;
        background: url(../images/error-404.jpg);
        text-align: center;
        height: calc(100vh - 80px);
        min-height: 550px;
    }

    .error-404 .subtitle {
        color: #ffffff;
        font-size: 18px;
        line-height: 1em;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.14em;
        margin: 0;
    }

    .error-404 .title {
        color: #ffffff;
        font-size: 250px;
        line-height: 1em;
        font-weight: 100;
        margin: 0 0 30px;
    }

    .error-404 .description {
        color: #ffffff;
        font-size: 46px;
        line-height: 1em;
        font-weight: 100;
        margin: 0 0 45px;
    }

    .error-404 .description b {
        font-weight: 300;
    }

    @media(max-width: 768px) {
        .error-404 .title {
            font-size: 120px;
        }

        .error-404 .description {
            font-size: 30px;
        }
    }
/*-------------Presentation-Section-----*/
    .presentation-section {
        position: relative;
        overflow: hidden;
    }

    .presentation-section:after {
        content: "";
        pointer-events: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
        box-shadow: inset 0 -93px 133px 0 rgba(221,221,221,0.7);
    }

    .presentation-section .custom-col {
        padding: 25px 15px 25px 18%;
    }

    .presentation-section .watch-image {
        margin-top: -177px;
        float: right;
    }

    @media(max-width: 1200px) {
        .presentation-section .watch-image {
            margin: 0;
        }

        .presentation-section .custom-col {
            padding: 0 15px 60px;
        }
    }

    .presentation-section .view-more {
        margin: 15px 0 0 ;
    }

/*-------------Features-Section---------*/
    .features-section.v2 {
        padding: 70px 0;
        background: #f7f7f7;
    }

    .features-section .features-list {
        padding-top: 130px;
    }

    .features-section .big-items {
        padding-top: 70px;
        padding-bottom: 35px;
    }

    .service-item {
        position: relative;
        padding: 7px 0 0 0;
        min-height: 100px;
        margin: 0 0 80px;
    }

    .service-item:hover .s-icon {
        transform: translateY(-5%);
        -webkit-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
    }

    .service-item .s-icon {
        position: absolute;
        top: 0;
        font-size: 38px;
        color: #fff;
        padding: 31px;
        border-radius: 50%;
        background: #e91e63;
    }

    .service-item .title {
        color: #919191;
        font-size: 20px;
        font-weight: 500;
        padding: 0 0 10px 128px;
        margin: 0;
    }

    .service-item .description {
        color: #b1b1b1;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        padding: 0 0 0 128px;
        margin: 0;
    }

    .service-item-big {
        position: relative;
        margin: 0 0 30px;
    }

    .service-item-big.small:before {
        content: none;
    }

    .service-item-big:hover {
        opacity: 0.9
    }

    .service-item-big .meta {
        position: absolute;
        bottom: 47px;
        left: 60px;
    }

    .service-item-big .meta h3 {
        color: #ffffff;
        font-size: 36px;
        line-height: 45px;
        font-weight: 300;
        margin: 0 0 8px;
        pointer-events: none;
    }

    .service-item-big .meta .check {
        color: #ffffff;
        font-size: 16px;
        letter-spacing: 0.02em;
        font-weight: 300;
    }

    .service-item-big .meta a:hover {
        color: #e91e63;
    }

    .service-item-big:before {
        content: "\e900";
        position: absolute;
        bottom: 50px;
        right: 60px;
        color: #fff;
        font-family: Icomoon;
        font-size: 18px;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        pointer-events: none;
    }

    .service-item-big:hover:before {
        right: 55px;
    }

    .service-item-big:hover .meta {
        bottom: 55px;
    }

    .service-item-big:hover img {
        opacity: 1 !important
    }

    .feature-item {
        text-align: center;
        margin: 10px auto 60px;
        max-width: 270px;
    }

    .feature-item:hover .f-icon {
        -webkit-transform: scale(1.06);
                transform: scale(1.06);
    }

    .feature-item .f-icon {
        display: inline-block;
        color: #fff;
        font-size: 38px;
        background: -webkit-linear-gradient(left, #9b3a8b, #e61e65);
        background: linear-gradient(90deg, #9b3a8b, #e61e65);
        border-radius: 50%;
        width: 90px;
        height: 90px;
        padding: 18px 16px;
        border: 10px solid rgba(237,88,139,1);
        box-shadow: 0px 0px 0px 13px rgba(237,88,139,0.15);
        margin: 13px 0 30px;
    }

    .feature-item h3 {
        color: #919191;
        font-size: 20px;
        font-weight: 500;
        margin: 0 0 4px;
    }

    .feature-item p {
        color: #b1b1b1;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
    }

    @media(max-width: 992px) {
        .features-section .features-list {
            padding: 0;
        }
    }

    @media(max-width: 1200px) {
        .service-item-big:before {
            content: none;
        }

        .service-item-big .meta {
            left: 20px;
            bottom: 20px;
        }

        .service-item-big:hover .meta {
            bottom: 30px;
        }
    }

    @media(max-width: 450px) {
        .service-item-big .meta h3 {
            font-size: 20px;
            line-height: 35px;
            margin: 0;
        }

        .service-item-big .meta .check {
            font-size: 13px;
        }
    }

/*-------------Contact-Section----------*/
    .contact-section {
        background: url(../images/contact-section.jpg);
        background-size: cover;
        padding: 50px 0 35px;
    }

    .contact-section.form {
        position: relative;
        background: none;
        padding: 0 0 20px;
    }

    .contact-section.form > span,
    .contact-section.form:before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -100px;
        left: 0;
        width: calc((100% - 900px) / 2);
        height: 230px;
        background: -webkit-linear-gradient(left, #9b3a8b, #e61e65);
        background: linear-gradient(90deg, #9b3a8b, #e61e65);
    }

    .contact-section.form:before {
        right: 0;
        left: auto;
        width: calc((100% - 1100px) / 2);
        background: -webkit-linear-gradient(left, #e61e65,#9b3a8b);
        background: linear-gradient(90deg, #e61e65,#9b3a8b);
    }

    .contact-section.form > span:before {
        position: absolute;
        content: "";
        right: 0;
        width: 0;
        height: 0;
        border-top: 231px solid transparent;
        border-right: 130px solid #fff;
    }

    .contact-section .title,
    .contact-section-title {
        color: #ffffff;
        font-size: 22px;
        line-height: 40px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }  

    @media(max-width: 768px) {
        .contact-section .btn.alignright {
            float: none;
            margin: 0;
        }
    }

/*-------------Partners-Section---------*/
    .partners-section {
        background: #f7f7f7;
        padding: 40px 0 0;
    }

    .partners-list {
        position: relative;
        margin: 0 -15px;
    }

    .partners-list li {
        display: inline-block;
        float: left;
        width: 20%;
        padding: 0 15px;
    }

    .partners-list li img {
        display: table;
        margin: 0 auto;
        opacity: 0.4
    }

    .partners-list li img:hover {
        opacity: 1
    }

/*-------------Team-Members-Section-----*/
    .team-section {
        padding: 50px 0;
        background: #f7f7f7;
    }

    .team-members {
        margin: -130px 0 0;
        padding: 0 0 32px;
    }

    .team-member {
        display: table;
        margin: 0 auto;
        text-align: center;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    .team-member .cover {
        display: table;
        margin: 0 auto 25px;
        border-radius: 50%;
        max-width: 115px;
    }

    .team-member .name {
        font-weight: 300;
        font-size: 24px;
        line-height: 1.2em;
        margin: 0 0 5px;
    }

    .team-member .position {
        display: block;
        color: #b0b0b0;
        font-size: 14px;
        padding: 0 0 20px;
    }

    .team-member p {
        color: #919191;
        font-size: 14px;
        line-height: 18px;
        font-style: italic;
    }

    .slick-center .team-member.big {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    .slick-center .team-member {
        opacity: 0;
        visibility: hidden;
    }

    .team-member.big {
        position: absolute;
        top: -200px;
        left: 0;
        width: 100%;
        margin: 0 0 5px;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0.7);
                transform: scale(0.7); 
    }

    @media(max-width: 768px) {
        .team-members {
            margin: 0;
        }

        .team-member {
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }

        .team-member.big {
            top: 0;
            position: static;
        }
    }

    .team-member.big .top-box {
        position: relative;
        background: url(../images/team-member-big.jpg);
        background-size: cover;
        padding: 50px 20px 20px;
    }

    .team-member.big .top-box .name,
    .team-member.big .top-box .position {
        color: #fff;
        -webkit-text-fill-color: inherit;
    }

    .team-member.big .top-box .stats-list li {
        display: inline-block;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.1em;
        float: left;
        width: 33.333333%;
        padding: 0 0 20px;
    }

    .team-member.big .top-box .stats-list li span {
        display: block;
        line-height: 1.2em;
    }

    .team-member.big .top-box .stats-list li span.number {
        font-size: 30px;
        font-weight: 500;
    }

    .team-member.big .top-box .contact-btn {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;
        bottom: -25px;
        right: 30px;
        box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.2);
    }

    .team-member.big .top-box .contact-btn:hover {
        box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.3);
    }

    .team-member.big .top-box .contact-btn:before {
        content: "\e90c";
        background: -webkit-linear-gradient(left, #e61e65, #6d2763);
        background: linear-gradient(90deg, #e61e65, #6d2763);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 19px;
        line-height: 52px;
        display: inline-block;
    }

    .team-member.big .bottom-box {
        width: 100%;
        background: #fff;
        padding: 27px 30px 40px;
    }

    .team-member.big .bottom-box .socials li {
        display: inline-block;
        color: #d2d2d2;
        font-size: 14px;
        text-align: center;
        padding: 0 15px;
    }

    .team-member.big .bottom-box .socials li a:hover i {
        background: -webkit-linear-gradient(left, #e61e65, #6d2763);
        background: linear-gradient(90deg, #e61e65, #6d2763);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .team-member.big .bottom-box p {
        position: relative;
        padding: 42px 0 18px;
        margin: 0;
    }

    .team-member.big .bottom-box p:before {
        position: absolute;
        top: 0;
        left: 50%;
        content: "\e913";
        font-family: Icomoon;
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #e61e65;
        font-size: 13px;
    }

/*-------------About-Section------------*/
    .about-wrapper {
        padding: 70px 15px 40px 12%;
    }

    @media(max-width: 1200px) {
        .about-wrapper {
            padding: 30px 20px 40px 20px;
            max-width: none;
        }
    }

    .about-wrapper h2 {
        font-size: 60px;
        font-weight: 500;
    }

    .about-wrapper .description {
        padding: 0 0 30px;
    }

/*-------------Video-Section------------*/
    .video-section {
        
        padding: 210px 0 210px;
        text-align: center;
        margin: 0 0 10px;
    }

    .video-section.v2 {
        background: url(../images/video-section-2.jpg);
    }

    .video-section .title {
        display: inline-block;
        color: #fff;
        font-size: 36px;
        line-height: 45px;
        font-weight: 100;
        vertical-align: middle;
        margin: 0;
        padding: 20px 30px;
    }

    .video-toggle-s {
        display: inline-block;
        position: relative;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background: #fff;
        vertical-align: middle;
    }

    .video-toggle-s:before {
        position: absolute;
        content: "\f04b";
        width: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-family: FontAwesome;
        font-size: 28px;
        color: #946e89
    }

    .video-toggle-s:hover {
        cursor: pointer;
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }

    .video-toggle {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        text-align: center;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background: rgba(255,255,255,0.7);
    }

    .video-toggle:hover {
        cursor: pointer;
        background: #fff;
    }

    .video-toggle:before {
        position: absolute;
        content: "\f04b";
        font-family: FontAwesome;
        font-size: 22px;
        margin: 20px 0px 0 -6px;
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #e61e65;
    }

/*-------------Stats-Section------------*/ 
    .stats-section {
        padding: 42px 0 0;
    }

    .progress-wrapper {
        padding: 50px 0 70px;
    }

    .progress-item {
        position: relative;
        width: 100%;
        height: 3px;
        background: #e7e7e7;
        border-radius: 5px;
    }

    .progress-item.vertical {
        height: 100%;
        width: 13px;
        background: none;
        margin: 0 11px 0 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .progress-item.vertical:last-child {
        margin: 0;
    }

    .progress-item .caption {
        position: absolute;
        right: -42px;
        bottom: -68px;
        color: #fff;
        font-weight: 300;
        background: #737373;
        z-index: 1;
        padding: 3px 20px;
        visibility: hidden;
        opacity: 0;
    }

    .progress-item.v2 .caption {
        bottom: -50px;
    }

    .progress-item .progress-bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 3px;
        background: #e91e63;
        color: #e91e63;
        border-radius: 5px;
        min-width: 25px
    }

    .progress-item.vertical .progress-bar {
        top: auto;
        bottom: 0;
        width: 100%;
        min-width: auto;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: -webkit-linear-gradient(bottom, #e61e65, #9b3a8b);
        background: linear-gradient(0deg, #e61e65, #9b3a8b);
    }

    .progress-item.vertical.blue .progress-bar {
        background: -webkit-linear-gradient(bottom, #41bad5, #879de1);
        background: linear-gradient(0deg, #41bad5, #879de1);
    }

    .progress-item .progress-bar .heading {
        position: absolute;
        right: -10px;
        bottom: -35px;
        font-size: 14px;
        font-weight: 500;
        padding-top: 20px;
    }

    .progress-item.v2 .progress-bar .heading {
        padding: 10px;
        right: -16px;
        bottom: 7px;
        z-index: 1;
    }

    .progress-item .progress-bar .heading:before {
        position: absolute;
        content: "";
        width: 13px;
        height: 13px;
        background: currentColor;
        border-radius: 50%;
        top: 0;
        right: 7px;
    }

    .progress-item.v2 .progress-bar .heading:before {
        content: "\e908";
        font-family: Icomoon;
        width: auto;
        height: auto;
        background: none;
        border-radius: 0;
        font-size: 35px;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        z-index: -1;
        right: 0;
        top: 12px;
    }

    .progress-item.v2 .progress-bar .heading .number {
        color: #fff;
        font-size: 12px;
    }

    .progress-item .progress-bar .heading:hover {
        cursor: pointer;
    }

    .progress-item .progress-bar .heading:hover:before {
        box-shadow: 0px 0px 0px 6px rgba(233,30,99,0.15);
    }

    .progress-item.v2 .progress-bar .heading:hover:before {
        box-shadow: none;
    }

    .progress-item .progress-bar .heading:hover + span {
        visibility: visible;
        opacity: 1;
    }

    .progress-group .progress-item.vertical {
        display: inline-block;
    }

    .graph-item {
        display: table;
        width: 100%;
        background: #fff;
        padding: 30px 40px;
        max-width: 570px;
        margin: 0 auto;
    }

    @media(max-width: 992px) {
        .graph-item {
            margin: 0 auto 30px;
        }
    }

    .graph-item .caption {
        color: #53636a;
        font-size: 24px;
        font-weight: 300;
        vertical-align: middle;
    }

    .graph-item .number {
        color: #b5b5b3;
        font-size: 50px;
        font-weight: 300;
        vertical-align: middle;
        padding-left: 45px;
        line-height: 1em;
    }

    .graph-item .stats-item {
        float: left;
    }

    .graph-item .stats-item {
        padding: 30px 0
    }

    .graph-item .progress-group {
        float: right;
        height: 115px;
        padding: 0 0 0 45px;
    }

    @media(min-width: 992px) and (max-width: 1200px) {
        .graph-item {
            padding: 30px 20px;
        }

        .graph-item .number {
            padding-left: 25px;
        }

        .graph-item .progress-group {
            padding-left: 20px;
        }
    }

    @media(max-width: 768px) {
        .graph-item .stats-item {
            display: table;
            margin: 0 auto;
            float: none;
        }

        .graph-item .progress-group {
            float: none;
            display: table;
            margin: 0 auto;
            padding: 0
        }
    }

    @media(max-width: 450px) {
        .graph-item {
            padding: 30px 15px;
        }
        .graph-item .number {
            padding-left: 15px;
        }
    }

/*-------------Pricing-Section----------*/
    .pricing-section {
        background: url(../images/pricing-section.jpg);
        background-size: cover;
        padding: 0 0 35px;
    }

    @media(min-width: 1200px) {
        .pricing-section.more-padding > .container {
            padding-left: 70px;
            padding-right: 70px;
        }
    }

    .pricing-table {
        position: relative;
        color: #ffffff;
        text-align: center;
        background: rgba(255,255,255,0.1);
        padding: 23px 40px 30px;
        border-radius: 8px;
        margin: 0 0 30px;
    }

    .pricing-table.gradient:before {
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
    }

    .pricing-table:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 70px;
        height: 6px;
        background: #e91e63;
    }

    .pricing-table .title {
        color: #ffffff;
        font-size: 18px;
        line-height: 50px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 300;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }

    .pricing-table .pricing {
        font-size: 72px;
        letter-spacing: 0.02em;
        line-height: 1.6em;
    }

    .pricing-table .pricing sup {
        font-size: 38px;
    }

    .pricing-table .features {
        padding: 0 0 32px 0;
    }

    .pricing-table .features li {
        font-size: 14px;
    }

/*-------------Pricing-Section----------*/
    .twitter-section {
        background: url(../images/twitter-background.jpg);
        background-size: cover;
        padding: 95px 0 80px;
    }

    .twitter-tweet {
        color: #fff;
        text-align: center;
    }

    .twitter-tweet .icon {
        font-size: 50px;
        transform: translateX(-100%);
    }

    .twitter-tweet ul {
        color: #fff;
        font-size: 20px;
        line-height: 35px;
        font-weight: 100;
        margin: 0;
        padding: 34px 0 5px;
    }
    .twitter-tweet ul li .url{
        display: none;
    }

    .twitter-tweet ul li .date{
        display: none;
    }

    .twitter-tweet a {
        color: #9bd8ff;
        font-size: 20px;
        line-height: 35px;
        font-weight: 100;
    }

    .twitter-tweet a:hover {
        color: #e91e63;
    }

/*-------------Subscribe-Section--------*/
    form .result_container{
        padding-top: 20px;
    }

    .subscribe-section {
        padding: 50px 0 90px;
        background: #f7f7f7;
    }

    .subscribe-box {
        background: #fff; 
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
    }

    .subscribe-box .icon {
        position: absolute;
        width: 27%;
        height: 100%;
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        text-align: center;
    }

    .subscribe-box .content {
        padding: 20px 60px 20px calc(27% + 40px);
    }

    .subscribe-box .icon i {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        font-size: 92px;
        color: #fff;
    }

    .subscribe-box .title {
        font-size: 22px;
        color: #616161;
        font-weight: 500;
        margin: 0 0 18px;
    }

    .subscribe-box .description {
        color: #3c3d41;
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        margin: 0 0 25px;
    }

    .subscribe-form .input-line {
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 65%;
        max-width: 310px;
    }

    .subscribe-form .input-line .placeholder {
        margin-left: 1px;
        top: 6px;
    }

    .subscribe-form .form-input {
        font-size: 16px;
        color: #919191;
        font-weight: 300;
        padding: 9px 0;
        border-bottom: 1px solid #dadada;
        width: 100%;
    }

    .subscribe-form .submit {
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
        color: #e61e65;
        float: right;
        width: 35%;
        padding: 8px 10px 0;
    }

    .subscribe-form .submit:hover {
        opacity: 0.75
    }

    @media(max-width: 992px) {
        .subscribe-box .content {
            padding: 20px 20px 20px calc(27% + 25px);
        }
    }

    @media(max-width: 768px) {
        .subscribe-box .content {
            padding: 20px 15px 20px calc(27% + 15px);
        }

        .subscribe-form .submit {
            font-size: 13px;
            width: 40%;
        }

        .subscribe-form .input-line {
            width: 60%;
        }
    }

    @media(max-width: 550px) {
        .subscribe-box .icon {
            visibility: hidden;
        }

        .subscribe-box .content {
            padding: 20px 15px 20px 15px;
        }

        .subscribe-form .input-line {
            width: 100%;
        }

        .subscribe-form .submit {
            width: 100%;
            float: none;
            text-align: left;
            padding: 10px 0 0 0;
        }
    }

/*-------------Tabbed-Content-----------*/
    .tabbed-section.v2 {
        background: #f7f7f7;
    } 

    .tabbed-content .tabs {
        list-style: none;
        text-align: center;
        margin: 0 auto;
        padding: 0 15px;
    }

    .tabbed-content .tabs li {
        position: relative;
        display: inline-block;
        cursor: pointer;
        color: #919191;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0 22px 15px;
        border-bottom: 2px solid transparent;
    }

    .tabbed-content .tabs li:not(:last-of-type) {
        margin-right: 45px;
    }

    @media(max-width: 992px) {
        .tabbed-content .tabs li:not(:last-of-type) {
            margin: 0;
        }
    }

    .tabbed-content .tabs li:hover,
    .tabbed-content .tabs li.current {
        color: #e91e63;
    }

    .tabbed-content.grad .tabs li.current,
    .tabbed-content.grad .tabs li:hover {
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .tabbed-content .tabs li.current {
        border-color: #e91e63; 
    }

    @media(max-width: 992px) {
        .tabbed-content .tabs li.current {
            border-color: transparent;
        }
    }

    .tabbed-content.grad .tabs li:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 100%;
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        opacity: 0; 
    }

    .tabbed-content.grad .tabs li.current:before {
        opacity: 1;
    }

    @media (max-width: 992px) {
        .tabbed-content.grad .tabs li.current:before {
            opacity: 0;
        }
    }

    .tabbed-content .tabbed-body {
        padding: 60px 15px 30px;
        background: #e4e4e4;
    }

    .tabbed-content .tabbed-body [class*="col-"] {
        padding: 0 15px 30px;
    }

    @media(min-width: 1500px) {
        .tabbed-content .tabbed-body.more-padding {
            padding: 60px 165px 20px;
        }
    }

    .tabbed-content .tabbed-body p {
        margin: 0 0 17px;
    }

    .tabbed-content .tabbed-body ul {
        list-style-type: none;
        margin: 0 0 10px;
    }

    .tabbed-content .tabbed-body ol  {
        padding-left: 19px;
    }

    .tabbed-content .tabbed-body ol li,
    .tabbed-content .tabbed-body ul li {
        padding-bottom: 5px;
        color: #656b6f;
    }

    .tabbed-content .tabbed-body ol li:last-of-type,
    .tabbed-content .tabbed-body ul li:last-of-type {
        padding-bottom: 0;
    }

    .tabbed-content .tabbed-body ul li {
        position: relative;
        padding: 0 0 7px 15px;
    }

    .tabbed-content .tab-content {
        display: none;
    }

    .tabbed-content .tab-content.current {
        display: inherit;
    }

    .tabbed-content .tab-content a img {
        width: 100%;
    }

    .tabbed-content .tab-content a:hover img {
        opacity: 0.7;
    }

    .tabbed-content .tab-content .service-item-big {
        margin: 0;
    }

/*-------------Testimonials-Section-----*/
    .testimonials-section {
        background: url(../images/testimonials-bg.jpg);
        background-size: cover;
    }

    .testimonials-carousel {
        position: relative;
        background: #fff;
        padding: 75px 0 130px;
    }

    .testimonials-carousel:before {
        position: absolute;
        content: "";
        bottom: 20px;
        width: 100%;
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        height: 110px;
    }

    .testimonial {
        padding: 70px 48px 30px;
        text-align: center;
    }

    .testimonial .message {
        color: #1d1d26;
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
        margin: 0 0 35px;
    }

    .testimonial .name {
        color: #e91e63;
        font-size: 24px;
        font-weight: 300;
        line-height: 38px;
        margin: 0;
    }

    .testimonial .position {
        color: #139af0;
        font-size: 15px;
        font-weight: 300;
    }

    .testimonial .cover {
        position: relative;
        padding: 22px 100px;
    }

    .testimonial .cover:before,
    .testimonial .cover:after {
        content: "\e90f";
        font-family: Icomoon;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        color: #e4e4e4;
        font-size: 50px;
    }

    .testimonial .cover:after {
        left: auto;
        right: 0;
    }

    .testimonial .cover img {
        border-radius: 50%;
    }

    @media(max-width: 450px) {
        .testimonial {
            padding: 70px 15px 30px;
        }

        .testimonial .cover:before, .testimonial .cover:after {
            content: none;
        }

        .testimonial .cover {
            padding: 22px 0;
        }
    }

/* ------------Slick Carousel ----------*/
    .slick-carousel {
      position: relative;
    }

    .slick-slider {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
    }

    .slick-slider * {
      outline: none !important;
    }

    .slick-list {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }

    .team-members .slick-list {
        padding: 200px 0 100px !important;
    }

    @media(max-width: 768px) {
        .team-members .slick-list {
            padding: 0 0 40px!important;
        }
    }

     @media(min-width: 992px) {
        .team-members .slick-next:before {
            top: 1px !important;
        }
    }

    .slick-list:focus {
      outline: none;
    }
    .slick-list.dragging {
      cursor: pointer;
      cursor: hand;
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }

    .slick-track {
      position: relative;
      top: 0;
      left: 0;
      display: block;
    }

    .slick-track:before,
    .slick-track:after {
      display: table;
      content: '';
    }

    .slick-track:after {
      clear: both;
    }

    .slick-loading .slick-track {
      visibility: hidden;
    }

    .slick-slide {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
    }

    .slick-slide img {
      display: block;
      width: 100%;
    }

    .slick-slide.slick-loading img {
      display: none;
    }

    .slick-slide.dragging img {
        pointer-events: none;
    }

    .slick-initialized .slick-slide {
      display: block;
    }

    .slick-loading .slick-slide {
        visibility: hidden;
    }

    .slick-vertical .slick-slide {
      display: block;
      height: auto;
      border: 1px solid transparent;
    }

    .slick-arrow.slick-hidden {
      display: none;
    }

    /* Gallery Carousel */
    .gallery-carousel .carousel-item {
        display: table;
        position: relative;
        margin: 0 auto;
    }

    .gallery-carousel .carousel-item .caption {
        position: absolute;
        top: 90px;
        left: 90px;
        color: #ffffff;
        font-size: 72px;
        font-weight: 500;
        line-height: 1.2em;
    }

    @media(max-width: 768px) {
        .gallery-carousel .carousel-item .caption {
            top: 40px;
            left: 40px;
            font-size: 40px;
        }
    }

    @media(max-width: 450px) {
        .gallery-carousel .carousel-item .caption {
            top: 15px;
            left: 15px;
            font-size: 20px;
        }
    }
    /* Arrows */
    .slick-prev, .slick-next {
      position: absolute;
      cursor: pointer;
      bottom: 20px;
      color: #ffffff;
      font-size: 22px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
      width: 50%;
      padding: 43px 15px;
      background: none;
      z-index: 2;
    }

    .team-members .slick-prev,  .team-members .slick-next {
        bottom: 0;
        padding: 0;
        width: auto;
        font-size: 0;
        width: 25px;
        height: 25px;
    }

    .team-members .slick-prev {
        left: 50%;
        -webkit-transform: translateX(-65px);
                transform: translateX(-65px);
    }

    .team-members .slick-next {
        right: 50%;
         -webkit-transform: translateX(65px);
                 transform: translateX(65px);
    }

    .team-members .slick-prev:before,
    .team-members .slick-next:before {
        content: "\e900";
        position: absolute;
        display: inline-block;
        font-family: Icomoon;
        font-size: 18px;
        font-weight: bold;
        color: #d2d2d2;
        height: auto;
        width: auto;
        top: 1px;
        left: 0;
    }

    .team-members .slick-prev:before {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
    }

    .team-members .slick-next:before {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        top: 0
    }

    .team-members .slick-prev:hover:before,
    .team-members .slick-next:hover:before {
        color: #a43b88;
    }

    .slick-prev:hover, .slick-next:hover {
        color: rgba(255,255,255,0.7);
    }

    .slick-prev {
        left: 0;
    }

    .slick-prev:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 30px;
        top: 50%;
        right: -1px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        background: rgba(255,255,255,0.3);
    }

    .slick-next {
        right:  0;
    }

    .slick-dots {
        position: absolute;
        list-style-type: none;
        padding: 0;
        margin: 0;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }

    .gallery-carousel .slick-dots {
        top: auto;
        bottom: 50px;
    }

    .slick-dots li {
        display: inline-block;
        margin: 0 30px 0 0;
    }

    .gallery-carousel .slick-dots li {
        margin: 0 25px 0 0;
    }

    .slick-dots li:last-child {
        margin: 0;
    }

    .slick-dots li button {
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #d2d2d4;
        font-size: 0;
    }

    .gallery-carousel .slick-dots li button {
        width: 16px;
        height: 16px;
        background: #fff;
    }

    .slick-dots li button:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        background: -webkit-linear-gradient(left, #e61e65, #9b3a8b);
        background: linear-gradient(90deg, #e61e65, #9b3a8b);
        opacity: 0;
        pointer-events: none;
    }

    .gallery-carousel .slick-dots li button:before {
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        background: #f2f2f2;
    }

    .slick-dots li.slick-active button:before {
        opacity: 1;
    }

    @media(max-width: 768px) {
        .gallery-carousel .slick-dots {
            bottom: 15px;
        }
        .partners-list li {
            width: 50%;
        }
    }

    @media(max-width: 450px) {
        .slick-prev, .slick-next {
            font-size: 15px;
            padding: 25px 15px;
        }

        .testimonials-carousel:before {
            height: 74px;
        }

        .slick-prev:before {
            content: none;
        }

        .partners-list li {
            width: 100%;
        }

        header.sticky.fixed{
            position: absolute;
        }
        .contact-form .input-line.submit input[type="submit"]{
            margin-left: auto;
            margin-right: auto;
        }
        form .input-line .placeholder{
            position: static;
        }
        form .input-line .line-border{
            display: none;
        }

    }

.wp-caption{}
.wp-caption-text{}
.sticky{}
.screen-reader-text{}
.gallery-caption{}
.bypostauthor{}
.alignright{}
.aligncenter{}