@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fjgsoj');
  src:  url('fonts/icomoon.eot?fjgsoj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fjgsoj') format('truetype'),
    url('fonts/icomoon.woff?fjgsoj') format('woff'),
    url('fonts/icomoon.svg?fjgsoj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-information:before {
  content: "\e913";
}
.icon-blood-drop:before {
  content: "\e910";
}
.icon-fingerprint-simple-outline:before {
  content: "\e911";
}
.icon-wifi:before {
  content: "\e912";
}
.icon-quotes:before {
  content: "\e90f";
}
.icon-success:before {
  content: "\e90e";
}
.icon-mail-envelope:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90b";
}
.icon-round-arrow:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e909";
}
.icon-drop-fill:before {
  content: "\e908";
}
.icon-share:before {
  content: "\e90d";
}
.icon-drop:before {
  content: "\e904";
}
.icon-fingerprint:before {
  content: "\e905";
}
.icon-satellite-dish:before {
  content: "\e906";
}
.icon-more:before {
  content: "\e907";
}
.icon-close-icon:before {
  content: "\e903";
}
.icon-mobile-menu:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-down-chevron:before {
  content: "\e900";
}

